header{
    grid-area: header;
    background-color: black;
    color:#ffffff; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;

;
}
.hide {
    display: none;
  }
header a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.brand a{
    font-size: 3rem;

}
header a:hover{
    color: brown;
}